<!DOCTYPE html>
<html>
    <head>
        <title>Aural Sex</title>
        <link rel="stylesheet" type="text/css" href="/static/css/index.css">
    </head>
    <body>
        <div id="container">
            <h1>Zone Selection</h1>
            <ul id="zone-list">
                #for $zone in $zones:
                <li><a href="/control/$zone">$zone</a></li>
                #end for
            </ul>
        </div>
        <div id="footer">
            <p>&copy; 2011 Matthew Powers-Freeling. <a href="http://git.mit.edu/cgi-bin/gitweb/auralsex-ui.git">Source code (MIT licensed)</a>.</p>
        </div>
    </body>
</html>
