<!DOCTYPE html>
<html>
    <head>
        <title>Aural Sex</title>
    </head>
    <body>
        <h1>Aural Sex control</h1>
        <ul id="zone_list">
            #for $zone in $zones:
            <li><a href="/control/$zone">$zone</a></li>
            #end for
        </ul>
    </body>
</html>
